.page-footer{
    padding-top:0;
}

.p-10{
    padding:10px;
}

.header{
    color: #ee6e73;
    font-weight: 300;
}

.neck{
    background-color: #ee6e73;
    width:100%;
    height:500px;
}

.p-0{
    padding:0 !important;
}

.m-x-60{
    margin-top:60px;
    margin-bottom:60px;
}

.p-20{
    padding:20px !important;
}

.p-b-60{
    padding-bottom:60px;
}

.p-b-30{
    padding-bottom: 30px;
}

.p-t-60{
    padding-top:60px;
}


.m-0{
    margin:0 !important;
}


.h1{
    font-size: 4.2rem;
    line-height: 110%;

}


















/* label color */
.input-field label {
    color: #9575cd  !important;;
}
/* label focus color */
.input-field input:focus + label {
    color: #9575cd  !important;;
}
/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #9575cd  !important;;
    box-shadow: 0 1px 0 0 #9575cd  !important;;
}
/* valid color */
.input-field input.valid {
    border-bottom: 1px solid #9575cd  !important;;
    box-shadow: 0 1px 0 0 #9575cd  !important;;
}
/* invalid color */
.input-field input.invalid {
    border-bottom: 1px solid #9575cd !important; ;
    box-shadow: 0 1px 0 0 #9575cd  !important;;
}



/* icon prefix focus color */
.input-field .prefix.active {
    color: #9575cd  !important;
}

.tabs .indicator {
    color: #9575cd  !important;
}



.purple-checkbox:checked + label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #9575cd; /* You need to change the colour here */
    border-bottom: 2px solid #9575cd; /* And here */
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%; }


