.page-footer{
    padding-top:0;
}

.p-10{
    padding:10px;
}

.header{
    color: #ee6e73;
    font-weight: 300;
}

.neck{
    background-color: #ee6e73;
    width:100%;
    height:500px;
}

.p-0{
    padding:0 !important;
}
.p-20{
    padding:20px;
}

.m-b-10{
    margin-bottom:10px !important;
}

.m-b-15{
    margin-bottom:15px !important;
}
.m-b-25{
    margin-bottom:25px;
}

.m-b-0{
    margin-bottom: 0;
}

.p-x-10{
    padding-top:10px;
    padding-bottom:10px;
}

.m-x-10{
    margin-top:10px;
    margin-bottom:10px;
}
.m-x-60{
    margin-top:60px;
    margin-bottom:60px;
}

.p-20{
    padding:20px !important;
}

.p-40{
    padding:40px !important;
}

.p-5{
    padding:5px; !important;
}
.p-b-60{
    padding-bottom:60px;
}

.p-b-30{
    padding-bottom: 30px;
}

.p-b-10{
    padding-bottom:10px;
}

.p-t-60{
    padding-top:60px;
}

.m-b-5{
    margin-bottom:5px !important;
}

.m-0{
    margin:0 !important;
}


.m-t-0{
    margin-top: 0;
}

.m-t-20{
    margin-top:20px !important;
}

.m-t-10{
    margin-top:10px !important;
}

.m-t-5{
    margin-top:5px !important;
}



li.active{
    background-color:rgba(0, 0, 0, 0.1);

}

li.active> a{
    color:#673ab7 ;
}

li.active> a > i{
    color:#673ab7  !important;
}


body{
    background-color: #fcfcfc!important;
}




.h1{
    font-size: 4.2rem;
    line-height: 110%;

}


.overlay-container{
    height:100%;
    width:100%;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.33);
    z-index: 10;
}

.center{
    margin:auto;
}


.box-shadow{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}


.dropshadow{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); */
    z-index:10;
}



.bold{
    font-weight: bold;
}



/* label color */
.input-field label {
    color: #9575cd  !important;;
}
/* label focus color */
.input-field input:focus + label {
    color: #9575cd  !important;;
}
/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #9575cd  !important;;
    box-shadow: 0 1px 0 0 #9575cd  !important;;
}
/* valid color */
.input-field input.valid {
    border-bottom: 1px solid #9575cd  !important;;
    box-shadow: 0 1px 0 0 #9575cd  !important;;
}
/* invalid color */
.input-field input.invalid {
    border-bottom: 1px solid #ef5350  !important; ;
    box-shadow: 0 1px 0 0 #ef5350  !important;;
    color: #ef5350   !important;;
}



.validation-error{
    color: #ef5350;
    margin-top:3px;
}





/* icon prefix focus color */
.input-field .prefix.active {
    color: #9575cd  !important;
}

.tabs .indicator {
    color: #9575cd  !important;
}

ul.dropdown-content.select-dropdown li span {
    color: #673ab7; /* no need for !important :) */
}


.purple-checkbox:checked + label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #9575cd; /* You need to change the colour here */
    border-bottom: 2px solid #9575cd; /* And here */
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%; }



/* before is the ripple, after is the switch*/
.lever.purple:before{
    background-color: rgba(149, 117, 205, 0.52) !important;
}


.switch label input[type=checkbox]:checked + .lever:after{
    background-color: #9575cd !important;
}






/*date time picker */


.picker__date-display { background-color: #9575cd; }
.picker__day.picker__day--today { color: #dd05ff; }
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected { background-color: #9575cd;}
.picker__close { color: #9575cd !important;}
.picker__today { color: #9575cd !important;}
.clockpicker-tick:hover { background: #9575cd !important; }
.clockpicker-canvas line { stroke: #9575cd !important; }
.clockpicker-canvas-bearing { fill: #9575cd !important; }
.clockpicker-canvas-bg { fill: #9575cd !important; }
.picker__nav--prev:hover, .picker__nav--next:hover{ background: #c6aeff
}
.picker__close, .picker__today, .picker__clear{
    color:#c6aeff !important;
}

button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus{
    background-color: transparent;

}

select:focus {
    outline: 1px solid #c6aeff;
}



@media only screen and (max-width: 992px) {

    #nav-mobile{
        margin-top:0 !important;
       /* padding-top:5vh;*/
    }

}






input.select-dropdown{
    padding-bottom: 2px !important;
    padding-top: 4px !important;
    margin-bottom:0;
}

/*
td, th{
    padding: 10px 5px !important;
}
*/



main.with-sidenav {
    padding-left: 300px !important;
}

@media only screen and (max-width: 992px) {
    main.with-sidenav {
        padding-left: 0 !important;
    }
}


.pointer {cursor: pointer;}



.modal{
    width:30vw;
    max-height:80vh;
    top:0;
}


@media only screen and (max-width: 992px) {
    .modal {
        width: 90%;
    }
}




.preloader-background {

    display: flex;
    align-items: center;
    justify-content: center;


    position: relative;
    z-index: 100;

    height:calc( 100vh - 65px);
}

body, main{
    height:100vh;
}


.spinner-purple,
.spinner-purple-only {
    border-color: #673ab7 ;
}

.message-table-key{
    padding:8px 20px 8px 0;
}

.message-table-value{
    padding:8px 20px 8px 0;
}

.selected-amount{
    font-size:1em !important;
    font-weight: bold;
}

.amount{
    font-size:.7em;
}


.text-xxl{
    font-size: 28px !important;
}

.text-xl{
    font-size: 22px !important;
}

.text-l{
    font-size:18px !important;
}

.text-m{
    font-size: 15px !important;
}

.text-s{
    font-size: 12px !important;
}